*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

html{
    scroll-behavior:smooth;
}


body{

    background:
    linear-gradient(135deg,#12002b,#3a0ca3,#7209b7,#4361ee);

    color:white;
    min-height:100vh;

}



/* Navigation */

nav{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 60px;

    background:rgba(255,255,255,0.12);

    backdrop-filter:blur(15px);

    position:sticky;
    top:0;

    z-index:1000;

}



nav h2{

    color:#ffffff;

    text-shadow:
    0 0 15px #d8b4fe;

}



.nav-links a{

    color:white;

    text-decoration:none;

    margin-left:25px;

    font-weight:500;

}


.nav-links a:hover{

    color:#ddd6ff;

}



/* Hero */


.hero{

    min-height:90vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

}



.hero h1{

    font-size:55px;

    background:
    linear-gradient(90deg,#ffffff,#e0c3fc);

    -webkit-background-clip:text;

    color:transparent;

}



.hero h3{

    margin:20px;

    font-size:25px;

}



.hero p{

    font-size:18px;

}





/* Buttons */


button{

    margin:15px;

    padding:14px 30px;

    border:none;

    border-radius:30px;


    background:

    linear-gradient(135deg,#ffffff,#d8b4fe);


    color:#4a148c;

    font-weight:bold;

    cursor:pointer;


    box-shadow:

    0 10px 30px rgba(255,255,255,0.3);

}



button:hover{

    transform:translateY(-5px);

}





/* Sections */


section{

    padding:70px 10%;

}



section h2{

    text-align:center;

    font-size:35px;

    margin-bottom:35px;

    color:#ffffff;

}





/* Skills */


.skills{

    display:flex;

    flex-wrap:wrap;

    justify-content:center;

    gap:20px;

}



.skills span{


    padding:15px 30px;

    border-radius:30px;


    background:

    rgba(255,255,255,0.15);


    backdrop-filter:blur(10px);


    border:

    1px solid rgba(255,255,255,0.3);


}





/* Project Cards */


.card{


    background:

    rgba(255,255,255,0.15);


    backdrop-filter:

    blur(15px);


    border-radius:25px;


    padding:30px;


    margin:25px 0;


    border:

    1px solid rgba(255,255,255,0.25);


    box-shadow:

    0 15px 40px rgba(0,0,0,0.2);


}



.card h3{

    color:#ffd6ff;

    margin-bottom:15px;

}



.card a{

    color:#ffffff;

    text-decoration:none;

    font-weight:bold;

}




/* Contact */


#contact a{

    color:#ffd6ff;

}





footer{


    text-align:center;

    padding:25px;

    background:rgba(0,0,0,0.2);


}
/* Profile Icon */

.profile-circle{

width:150px;
height:150px;

margin:0 auto 30px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;


background:
linear-gradient(135deg,#ffffff,#d8b4fe);


color:#7209b7;

font-size:45px;

font-weight:bold;


box-shadow:
0 0 40px #d8b4fe;


animation:float 3s infinite;

}



@keyframes float{

0%{
transform:translateY(0);
}

50%{
transform:translateY(-15px);
}

100%{
transform:translateY(0);
}

}



/* Project Images */


.project-img{

width:100%;

height:250px;

object-fit:cover;

border-radius:20px;

margin-bottom:20px;


transition:0.4s;

}



.project-img:hover{

transform:scale(1.05);

}



/* Card Animation */


.card{

animation:slide 1s ease;

}



@keyframes slide{

from{

opacity:0;

transform:translateY(40px);

}


to{

opacity:1;

transform:translateY(0);

}

}
.hand-icon{
    width:45px;
    height:45px;
    vertical-align:middle;
    margin-left:10px;
}